.menu_detaile_wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.menu_detaile_menu_positions{
    align-self: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-column-gap: 20px;
    width: 100%;
}

@media (min-width:1280px){

}
@media (max-width:1280px){
    
}
@media (max-width:770px){
    .menu_detaile_wrapper{
        width: 100%;
    }
    .menu_detaile_menu_positions{
        width: 95%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media (max-width:550px){
}