.menu_detaile_button_row{
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    .button{
        width: 150px;
    }
}

.delete_menu_button{
    .button{
        background-color: #F15A5A;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #cd4a4a;
        .button_label{
            color:#FFBF1C;
        }
    }
}

.menu_detaile_add_position_button{
  
    .button{
        background-color: #7D62EA;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #694be2;
        .button_label{
            color:#FFBF1C;
        }
    }
}




@media (min-width:1280px){

}
@media (max-width:1280px){
    
}
@media (max-width:769px){
    .menu_detaile_button_row{
        width: 95%;
    }
}
@media (max-width:550px){
    .menu_detaile_button_row{
     .button{
        height: 30px;
        width: 90px;
        }
    } 

    
}