.menu_position_card_wrapper{
    height: 160px;
    position: relative;
    border-radius: 10px;
    border:1px solid whitesmoke;
    margin-bottom: 20px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #323131;
    overflow: hidden;
}

.menu_position_card_wrapper:hover{
    border:1px solid #FFBF1C;

    // .menu_position_card_slot.name{
    //     // color:#FFBF1C
    //     } 
}
.open_menu_position_card_popup{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu_position_card_service_menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: 35px;
    height: 25px;
    // border:1px solid red;
    top:0px;
    right: 0px;
    cursor: context-menu;
    .service_menu_dot{
        height: 5px;
        width: 5px;
        border-radius: 5px;
        background-color: #909099;
    }
}
.sub_menu_wrapper{
    position: absolute;
    width: 100%;
    height: 0px;
    visibility: hidden;
}

.sub_menu_wrapper.active{
    visibility: visible;
    height:100%;
    .sub_menu_content{
        // height: 30px;
        width:120px;
        border:1px solid #909090;
    }
}
.sub_menu_content{
    transition: 0.5s;
    position: absolute;
    width: 0px;
    // height: 30px;
    top:0px;
    right: 0px;
    // background-color:#F15A5A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

// .sub_menu_content:hover{
//     background-color: #cd4a4a;
//     .menu_position_card_slot{
//         .button{
//         .button_label{
//             color: #FFBF1C;
//         }
//         }
//     }   
// }

.menu_position_card_service_menu:hover{
    .service_menu_dot{
        background-color: #FFBF1C;
    } 
}
.menu_position_card_slot{
    text-align: center;
    color: #909099;
    font-size: 18px;
}
.menu_position_card_top_conteiner{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.menu_position_card_title_description_conteiner{
    margin-left: 10px;
    width: 100%;
}
.menu_position_card_volume_price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}


.menu_position_card_slot.name{
    max-width:80%;
    color: whitesmoke;
    text-align: left;
    overflow: hidden;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    line-height: 20px; 
}
.menu_position_card_slot.photo{
    width: 65px;
    height: 65px;
    overflow: visible;    
        img {
          align-self: center;
          width: 65px;
            height: 65px;
          border-radius: 10%;
        } 
}
.menu_position_card_slot.description{
    width: 70%;
    margin-top: 10px;
    overflow: hidden;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    line-height: 20px; 
}
.menu_position_card_slot.volume{
    text-align: left;
    width: 120px;
    margin-left: 10px;
    color: whitesmoke;
}
.menu_position_card_slot.price{
    width: 120px;
    text-align: center;
    color: whitesmoke;
    
}
.menu_position_card_slot.delete{
    width:100%;
    height: 100%;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F15A5A;
    transition: 0.3s;

    .button{
        width: 100%;
        border-radius: 0;
        background-color: #f15a5a00;
        height: 20px;
        box-shadow: 0px 0px 0px rgba(254, 250, 240, 0.25);
        .button_label{
            font-size: 18px;
            color: black;
        }
    }
}
.menu_position_card_slot.update{

    width:100%;
    height: 100%;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #7D62EA;
    transition: 0.3s;

    .button{
        box-shadow: 0px 0px 0px rgba(254, 250, 240, 0.25);
        width: 100%;
        border-radius: 0;
        background-color: #f5da5100;
        height: 20px;
        .button_label{
            font-size: 18px;
            color: black;
        }
    }
}
.menu_position_card_slot.update:hover{
    background-color: #953bbf;
    .button{
        .button_label{
            color: #FFBF1C;
        }
    }

}
.menu_position_card_slot.delete:hover{
    background-color: #cd4a4a;
    .button{
        .button_label{
            color: #FFBF1C;
        }
    }
}

@media (min-width:1280px){

}
@media (max-width:1280px){
    
}
@media (max-width:770px){
    .menu_position_card_wrapper{
        height: 120px;
    }
    .menu_position_card_slot{
        font-size: 16px;
    }
    .menu_position_card_slot.description{
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    .menu_position_card_slot.name{
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }

}
@media (max-width:550px){
}