.order_detaile_wrapper{
    width: 80%;
    height: 100%;
}
.order_title{
    // margin: 0,300px;
    // padding-left: 300px;
    justify-self: center;
  }
.order_detaile_buttons_line_monitor{
    // position: sticky;
    // top: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .button{
        width: 150px;
    }
    height: 30px;
}
.order_detaile_buttons_line_mobile{
    // width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    .button{
        width: 150px;
    }
}
.order_detaile_delete_btn{
    .button{
        background-color: #F15A5A;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #cd4a4a;
        .button_label{
            color:#FFBF1C;
        }
    }
}
.order_update_btn{
  
    .button{
        background-color: #7D62EA;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #694be2;
        .button_label{
            color:#FFBF1C;
        }
    }
}
.order_create_btn{
    .button{
        background-color: #86F584;
        .button{
            color: black;
        }
    }
    .button:hover{
        background-color: #4d9b4c;
        .button_label{
            color: #FFBF1C;;
        }
    }
}
.indent{
    width: 40px;
}

.order_detaile_content_title{
    width: 100%;
    margin-top: 25px;
    height: 50px;
    font-size: 25px;
    color: #909090;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323131;
    border-radius: 10px;
}
.camera_icon_conteiner{
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #86F584;
    display: flex;
    justify-content: center;
    align-items: center;
    .camera_icon{
        width: 30px;
        height: 30px;
    }
    .camera_icon path{
        fill: black;
    }
}

.add_order_date{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.add_order_date_container{
    overflow: hidden;
    display: flex;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #909090;
    background-color: #323131;
    .date_input{
        background-color: #323131;
        font-size: 26px;
        margin-left: 20px;

    }
}
.order_detaile_tables_wrapper{
    display: flex;
    width: 100%;
}
.menu_positions_table{
    width: 60%;
    margin-right: 50px;
}
.order_detaile_menu_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    .order_detaile_menu_title{
        margin-top: 10px;
        width: 100%;
        align-self: center;
        text-align: center;
        color: whitesmoke;
        font-size: 36px;
        padding-bottom: 5px;
        border-bottom: 1px solid #909090;
    }
 
}
.order_positions_table_wrapper{
    width:100%;
    margin-bottom: 50px;
    // margin-left: 50px;
}
.order_positions_table{
    position: sticky;
    top:65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    .positions_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.order_info{
    // background-color: #323131;
    position: sticky;
    top:20px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 0px 10px;
    font-size: 25px;
    color: #909090;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.order_detaile_total_monitor{
    overflow: hidden;
    background-color: #323131;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border:1px solid whitesmoke;
    color: whitesmoke
}
.total_mobile_wrapper{
    background-color: #222;
    height: 40px;
    position: fixed;
    bottom: 80px;    
    width: 100%;
    bottom: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.order_detaile_total_mobile{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #323131;
    height: 80%;
    margin-right: 20px;
    max-width: 80%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: #909090;
}
.add_cocktails_btn{
    .button{
        background-color: #86F584;
        .button_label{
            color: black;
        }
    }
}
@media (max-width:1280px){
    .order_info{
        font-size: 20px;
    }
    

}
@media (min-width:990px){
    .add_cocktails_btn{
        display: none;
    }
    .order_info{
        justify-content: end;
    }
    
    
}
@media (max-width:990px){
    .menu_positions_table{
        display: none;
      }
    .order_positions_table_wrapper{
        width:100%;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    
   
      
}

@media (min-width:770px){
    .order_detaile_buttons_line_mobile{
        display: none;
    }
    .total_mobile_wrapper{
        display: none;
    }
}
@media (max-width:769px){
    .order_detaile_wrapper{
        width: 100%;
    }
    .order_detaile_content_title{
        margin-top: 10px;
        font-size: 18px;
    }
    .order_info{
        margin-top: 5px;
    }
    .menu_positions_table{
      display: none;
    }
    .order_detaile_total_monitor{
        display: none;
    }
    .order_detaile_buttons_line_monitor{
        display: none;
    }
    .order_detaile_footer{
        width: 100%;
        background-color: #222;
        position:fixed;
        bottom: 0;
        height: 50px;
        z-index: 0;
    }
    .order_detaile_buttons_line_mobile{
        .button{
            height: 25px;
        }

    }
    .order_detaile_tables_wrapper{
        justify-content: center;
        width: 100%;
    }
    .order_positions_table_wrapper{
        width: 100%;
    }
    .order_positions_table{
        width: 100%;
        margin-bottom: 100px;
    }
    .add_cocktails_btn{
        width: 100%;
        .button{
            width: 100%;
            height: 30px;
        }
    }

    .add_order_date_container{
        display: flex;
        height: 30px;
        width: 100%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color: #909090;
        background-color: #323131;
        .date_input{
            background-color: #323131;
            font-size: 22px;
            margin-left: 20px;
            color: whitesmoke;
    
        }
    }
}