.appruve_btn{
    .button{
        background-color: #86F584;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #4d9b4c;
        .button_label{
            color: #FFBF1C;;
        }
    }
}
.delivered_btn{
    .button{
        background-color: #C96AF6;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    } 
    .button:hover{
        background-color: #953bbf;
        .button_label{
            color: #FFBF1C;;
        }
    }
    
}
.paid_btn{
    .button{
        background-color: #86F584;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #4d9b4c;
        .button_label{
            color: #FFBF1C;;
        }
    }
}
.paid_state{
    color: #86F584;
    font-size: 40px;
}   

.state_conteiner{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.created_state_label{
    font-size: 40px;
    color:#909090
}
.approved_state_label{
    font-size: 40px;
    color:#F5DB51
}
.delivered_paid_label{
    font-size: 40px;
    color:#F15A5A
    
}

@media (max-width:1280px){
    .paid_state{
        font-size: 30px;
    }
    .created_state_label,.approved_state_label,.delivered_paid_label{
        font-size: 24px ;
    }
}
@media (max-width:769px){
    .paid_state{
        font-size: 25px;
        width: 150px;
        text-align: end;
    }
}

