.place_detile_main_page_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
.main_buttons_wrapper{
    margin-top: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
}
.place_detaile_main_buttons_wrapper{
    margin-top: 20px;   
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 20px;
}

.main_btn_container{
    margin:0px 20px ;
    .button{
        width: 100%;
    }
}

.monitor_service_button_row{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // .button{
    //     width: 130px;
    // }
}

.mobile_service_btn_row{
    width: 100%;
    display: flex;
    opacity: 1;
    visibility: hidden;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 50px;
    align-items: center;
    background-color: #323131;
    .button{
        width: 134px;
        height: 20px;
    }
}
.plce_detile_footer{
    height: 50px;
    width: 100%;
}
.mobile_back_btn{
    display: none;
    margin-top: 20px;
    width: 80%;
    .button{
        height: 20px;
        width: 134px;
        font-size: 14px;
        color: black;
    }
}
.service_row_button_wrapper.delete{
    display: flex;
    height: 100%;
    align-self: center;
    justify-content: center;
    .button{
        background-color: #F15A5A;
        .button_label{
        color: black;
        }      
    }  
}
.service_row_button_wrapper.change{
    display: flex;
    height: 100%;
    align-self: center;
    justify-content: center;
    .button{
        background-color: #F5DB51;   
        .button_label{
            color: black;
            }       
    }  
}


.service_row_button_wrapper.delete:hover,.service_row_button_wrapper.change:hover{
    .button{
        background-color: #222;
        .button_label{
        color: #FFBF1C;
        }      
    }  
}




@media (min-width:1280px){
    .main_btn_container{
        margin-bottom: 30px;
    }
}

@media (max-width:1280px){
    .monitor_service_button_row{
        .button{
            width: 10px;
        }
    }
}
@media (min-width:769px){
    .main_btn_container{
        margin-bottom: 30px;
    }
}

@media (max-width:769px){
    .main_buttons_wrapper{
        flex-direction: column;
        margin-top: 5px;
    }
    .monitor_service_button_row{
        display: none;
    }
    .mobile_service_btn_row{
        
        visibility: visible;
    }
    .place_detile_main_page_wrapper{
        width: 100%;
    }
    .mobile_back_btn{
        display: flex;
        justify-content: start;
        .button{
            justify-self: start;
        }
    }
    .place_detaile_main_buttons_wrapper{
        margin-top: 0px;
        width: 100%;
    }
    .main_buttons_wrapper{
        width: 100%;
    }
}