.field-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-error{
    margin-top: 5px;
    color: #F15A5A;
    width: 100%;
    font-size: 14px;
    font-weight: 300
}


.popup_mobile_content.add_place{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width:35%;
    height: auto;
    background-color: #222;
    border-radius: 10px;
    border: 1px solid #909090;
}

.popup_title.add_place{
    line-height: 35px;
    color: whitesmoke;
    position: relative;
}

.add_place_form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
}
.add_place_input_wrapper{
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 20px;
    // border-bottom: 1px solid #909090;
    input{
        font-size: 18px;
        // border-bottom: 0px;
    }
}

.submit_button.add_place{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    .button{
        height: 40px;
        width: 100%;
        background-color: #86F584;
        transition: 0.3s;
        .button_label{
            color: black;
        }
    }
    .button:hover{
        background-color: #4d9b4c;
        .button_label{
            color: #FFBF1C;
        }
    }
}



@media (max-width:1280px){
    .popup_mobile_content.add_place{
        width: 40%;
    }
    .add_place_form{
        width: 85%;
    }
}

@media (max-width:990px){
    .popup_mobile_content.add_place{
        width: 60%;
    }
    .add_invoice_form_submit_btn{
        width: 85%;
        margin-top: 20px;
    }
    .add_place_form{
        width: 75%;
    }

}



@media (max-width:769px){
    .popup_mobile_content.add_place{
        width: 75%;
    }
    .popup_title.add_place{
        width: 90%;
        font-size: 26px;
    }
    .add_invoice_form_date{
        width: 100%;
        font-size: 18px;
        input{
            font-size: 16px;
        }
    }
    .add_place_form{
        width: 85%;
    }

}


@media (max-width:550px){
    .popup_mobile_content.add_place{
        width: 80%;
    }
    .popup_title.add_place{
        width: 90%;
        font-size: 20px;
    }
    .add_place_form{
        width: 90%;
    }
    .add_place_input_wrapper{
        width: 100%;
        font-size: 16px;
        input{
            font-size: 14px;
        }
    }
}