.popup_content_mobile.regular-message{
    border: 1px solid #909090;
}
.popup_title.regular-message{
    color: #F15A5A;
}
.popup_yes_now_masssege{
    color: white;
}
.button_set{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    
}