*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
input{
  border-radius: 0;
}

.quantity_num::-webkit-inner-spin-button,
.quantity_num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.quantity_num{
  -moz-appearance: textfield;
} 

// Constants

$maxWidth: 1280;

@mixin adaptiv($maxSize, $minSize, $Param) {
    @media(min-width:1280px){
        $addSize: $maxSize - $minSize * 0.7;
        $maxWidth: $maxWidth - 320;
        #{$Param}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    } 
    @media(max-width:1280px){
        $addSize: $maxSize - $minSize * 0.7;
        $maxWidth: $maxWidth - 320;
        #{$Param}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    } }

// Main


body{
  height: 100%;
  background-color: #222222;
}
.main_wrapper{
  width: 100%;
  // display: flex;
  // justify-content: center;
}
.wrapper{
  display: flex; 
  justify-content: space-between;
  // max-width: 1680px;
}
.regular_text{
  color: #909090;
  @include adaptiv(24, 12 , font-size);
  font-weight: 400;
}
.regular_text_small{
  @include adaptiv(16, 6 , font-size);
  font-weight: 400;
  color: #909090;
}
.cross_del_btn{
  background-color: #323131;
  // @include adaptiv(15, 7, width);
  // @include adaptiv(15, 7, height);
  .icon_cross_del_btn{
    @include adaptiv(15, 7, width);
    @include adaptiv(15, 7, height);
  }
}

.cross_del_btn:hover{
  .cross_del_btn path{
    fill: inherit;
  }
  .icon_cross_del_btn path{
    fill:#F30505 ;
  }
}
.search_btn{
  background-color:#424040;
  .icon_search_btn{
    @include adaptiv(15, 7, width);
    @include adaptiv(15, 7, height);
  }
}
.search_btn:hover{
  background-color:#424040;
  .icon_search_btn{
    @include adaptiv(15, 7, width);
    @include adaptiv(15, 7, height);
    fill:#FFBF1C ;
  }
}

// Table 
.tbody{
  @include adaptiv(10, 5, margin-top);
}
.tr{
  @include adaptiv(10, 5, margin-top);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #909090;
}
.th, .td{
  @include adaptiv(180, 50, width);
  align-items: center;
  text-align: center;
}


// Place detaile


.place_detaile_button_wrapper{
  @include adaptiv(20, 10, margin-top);
}


.place_main_btn{
  background-color: #222;
  .icon_main_btn{
    margin-top: 10px;
    @include adaptiv(240, 100, width); 
    @include adaptiv(180, 80, height);  
  }
}

.place_main_btn:hover{
  .icon_main_btn path{
    fill: inherit;

  }
  .icon_main_btn path{
    fill:#FFBF1C ;
  }
}


.palce_detaile_content{
  display: flex;
  @include adaptiv(20, 10, margin-top); 
}

.place_detaile_main_buttons_wrapper{
  @include adaptiv(600, 120, width); 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.place_detaile_add_buttons_wrapper{
  display: flex;
  flex-direction: column;
}


.button{
  @include adaptiv(155, 70, width); 
  @include adaptiv(35, 15, height); 
  background: #222222;
  box-shadow: 0px 0px 4px rgba(254, 250, 240, 0.25);
  @include adaptiv(10, 5, border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button_label{
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  @include adaptiv(16, 10, font-size); 
  line-height: 19px;
  color: #909090;
}
.add_button_cross{
  @include adaptiv(20, 10, width); 
  @include adaptiv(20, 10, height);

}
.button:hover{
  box-shadow: 0px 0px 4px rgba(255, 191, 28, 0.25);
  .button_label{
    color: rgb(255, 191, 28);
  }
  .add_button_cross path{
    fill:inherit
  }
  .add_button_cross{
    fill:rgb(255, 191, 28)
  }
}



// Add order popup

.popup_wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.863);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 20;
}

.popup_content{
  @include adaptiv(320,250 ,width);
  @include adaptiv(250,180 ,height);
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  .message_content{
    display: flex;
    flex-direction: column;
    @include adaptiv(200,120 ,height);
    justify-content: space-between;
    .button_set{
      margin: 0px auto;
    }
  }
}

.popup_wrapper.active{
  transform: scale(1);
}


.add_order_form{
  display: flex;
  flex-direction: column;
  align-items: center;
   button{
    @include adaptiv(20,10 ,margin-top);
    background-color: #222;
  }
  
}

.add_order_popup_date{
  display: flex;
  @include adaptiv(150,50 ,width);
  @include adaptiv(20, 10, margin-top);
  justify-content: space-between;
  flex-wrap: wrap;
  .date_lable{
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    @include adaptiv(20, 8, font-size);
    line-height: 19px;
    color: #909090;
    @include adaptiv(5, 3, margin-right);
  }
  input[type=date]{
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    @include adaptiv(14, 10, font-size);
    background-color: #222;
    color: #909090;
    border-bottom: solid 1px #605F5E; 
    }
  
    input[type=date]:hover{
      border-bottom: solid 1px #FFBF1C; 
      
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    color: #999;
    height: 15px;
    width: 15px;
  }  
}


// OrderDetaile Order Item table
.order_positions_table_wrapper{
  display: flex;
  flex-direction: column;
}

//OrderDetaile Menu Positions table

.position_row_slot{
  display: flex;  
  font-weight: 400;
  justify-content: center;
  color: #909090;
  .position_row_slot_name{
    text-align: center;
    align-self: center;
  }
}



.button_slot{
  align-self: center;
  .button{
  @include adaptiv(50, 20, width);
  }
}







// Products_list

.product_list_wrap{
  display: flex;
  flex-direction: column;
  @include adaptiv(750, 190, width);

}

.products_list_subtitle{
  margin: 0 auto;
  font-family: 'Girassol';
  font-style: normal;
  font-weight: 400;
  @include adaptiv(40, 22, font-size);
  @include adaptiv(48, 20, line-height);
  // line-height: 48px;
  color: #909090;
}

.product_list_found_input{
    background-color:#424040;
    @include adaptiv(150,90 ,width );
    color: #909090;
    @include adaptiv(14,10 ,font-size );
    padding-left: 5px;
}
.product_list_found_wrapper{
    background-color:#424040;
    @include adaptiv(150,150 ,width );
    // color: #ecdede;
    @include adaptiv(14,10 ,font-size );
    padding-left: 5px;
    display: flex;
}

.products_list_contetn{

  display: flex;
  justify-content: space-between;
  @include adaptiv(750, 190, width);
  @include adaptiv(20, 10, margin-top);
}
.products_list_table_head{
  .regular_text{
    @include adaptiv(20,10 ,font-size );
    white-space: nowrap;
    
  }
}
.product_list_table_body{
  overflow: scroll;
  max-height: 450px;
  
  .td{
    justify-self: center;
    align-self: center;
  }
}
.product_list_table_body::-webkit-scrollbar {
  width: 5px;
  height: 0px; 
}       
.product_list_table_body::-webkit-scrollbar-track {
  background:#2c2b2b;
}        
.product_list_table_body::-webkit-scrollbar-thumb {
  background:#222222;
  border-radius: 8px;
  border: 1px solid #424040;
}

.product_photo{
  margin: 0 auto;
  overflow: visible;
  @include adaptiv(45, 30, width);
  @include adaptiv(45, 30, height);
  img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  } 
  
}
.product_list_table_row{
  margin-bottom: 30px;
  .discription{
    white-space: pre-line;
  }
}
.product_list_table_row:hover{
  .td,.regular_text_small{
    color: #FFBF1C;
  }
  
  
}

.products_list_table_wrapper{
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 0px 2px 1px, inset 0px 0px 2px 1px #302f2f;
  padding-bottom:  30px ;
  background-color: #222222;
}
.products_list_button_set{
  @include adaptiv(50,20 ,margin-left )
}
