<!DOCTYPE html>
{% load static%}
{% load compress%}
<html lang="ru">
<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .content {
            width: 2000px;
        }
        .tableRow{
            padding-top: 20px;
            border-bottom: 1px solid #bdc6cc;
        }
        .name{
            font-size: 14px;
        }
    </style>
</head>

<body>
    {% block date %}
    {% block items %}
    <div class="wrapper">
        <div class="content">
            <table>
                {% for item_row in items %}
                <tr class='tableRow'>
                    {% for item in item_row %}
                    
                        <th class='name'>
                            {{ item }} <br> {{ date }}
                        </th>
                    {% endfor %}  
                </tr>
                {% endfor %}
            </table>  
        </div>
    </div>
    {% endblock items %}
    {% endblock date %}
</body>
</html>