<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!--/ Style-CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/style.scss' %}" type="text/x-scss" media="screen">
    {% endcompress %}
    <!--// Style-CSS -->
</head>
<body>
    {%block invoice%}
    <div class='wrapper'>
        <div class="content">
            <div class='title'>
                CraftShake
            </div>
            <div class="invoice_info_wrap">
                <div></div>
                <div class="invoice_info">
                    <p>Invoice: #{{invoice.id}}</p>
                    <p>Place: {{invoice.place}}</p>
                    <p>Date: {{invoice.date}}</p>
                </div>
            </div>
            {% for order in orders %}
            <div class="order">
                <div class="order_date">
                    Order  #{{order.id}} on {{order.date}}    
                </div>
                <table> 
                    <tr class="order_head">
                        <th class="name">Name</th>
                        <th class="qty">Qty</th>
                        <th class="price">Price</th>
                    </tr>
                    {%for item in order.order_item.all%}
                    <tr class="order_body">
                        <td class="cocktail_name">{{item.position.product}}</td>
                        <td class="cocktail_qty">{{item.quantity}}</td>
                        <td class="cocktail_price">{{item.item_price}}</td>
                    </tr>
                    {%endfor%}
                    <tr class="order_total">
                        <td class="lable" colspan='2'>Total:</td>
                        <td>{{order.total_price}}</td>
                    </tr>
                </table>
            </div>
            {%endfor%}
            <div class="invoice_total_wrap">
                <div class="invoice_total">
                    <p>Amount: {{invoice.amount}}</p>
                    {%if invoice.is_vat%}
                        <p>VAT 17%</p>
                    {%endif%}
                    <p>TOTAL: {{invoice.total_amount}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock invoice %}
</body>